<div class="download">
    <div class="container">
      <div class="left">
        <h3>
          准备好开始使用
          <img src="/images/logo2.svg" alt="">
          了吗？
        </h3>
        <p>商业许可证确保跨用例和行业的生产成功。</p>
      </div>
      <a href="https://rustfs.com/html/download.html">免费下载</a>
    </div>
  </div>