<div class="category">
	<!--div class="topics__label">分类</div-->
	<nav class="topics__links">
		<%if(is_category()){%>
			<a href="/">
				全部
			</a>
		<%}else{ %>
			<a href="/" class="bg-colorf4">全部</a>
		<%} %>
		<%if(site.categories.length){%>
			<% site.categories.each(function(tag){ %>
				<a href="/<%= tag.path %>" 
					<%if( is_category(tag.name) ){%>
					class="bg-colorf4"
					<%} %>
				><%=tag.name%></a>
			<% }) %>
		<%}%>
	</nav>
</div>